<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112507854697-utulaghvt3jdd7ei0kn8ff938h1nvdnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112507854697-utulaghvt3jdd7ei0kn8ff938h1nvdnu</string>
	<key>API_KEY</key>
	<string>AIzaSyDyDHqN8biSK_OfSJ1y0mb_Fiurw1xaVbI</string>
	<key>GCM_SENDER_ID</key>
	<string>112507854697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokemonApp</string>
	<key>PROJECT_ID</key>
	<string>pokemonapp-4915e</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonapp-4915e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112507854697:ios:e4068186448dd4ab9ca7f8</string>
</dict>
</plist>